numpy
pandas
matplotlib
seaborn
huggingface-hub
datasets
torchvision
scikit-learn
pydantic
langchain-core
langgraph
requests

fastapi
uvicorn[standard]
python-multipart
sqlalchemy
python-dotenv

torch
transformers
pillow

langgraph
langchain-openai
openai

streamlit
requests
pypdf
pillow
opencv-python

codecarbon
pypdf