codecarbon
datasets
fastapi
hf-transfer>=0.1.4
huggingface-hub
langchain-core
langchain-openai
langgraph
matplotlib
numpy
opencv-python
openai
pandas
pillow
pydantic
pypdf
python-dotenv
python-multipart
reportlab
requests
scikit-learn
seaborn
sqlalchemy
streamlit
torch
torchvision
transformers
uvicorn[standard]
chromadb
pytest
langchain-community